.App {
    text-align: center;
    background: var(--color_background);
    color: var(--color_text);
    height: auto;
    min-height: 100vh;
}

a {
    color: var(--color_link);
    text-decoration: none;
    font-style: italic;
    font-size: small;
    cursor: pointer;
}

a:visited {
    color: var(--color_link);
}

.highlighted {
    color: var(--color_highlight);
}