.App {
    text-align: center;
    background: var(--color_background);
    color: var(--color_text);
    height: auto;
    min-height: 100vh;
}

h2 {
    margin: 0;
}

.bio {
    background: var(--color_background_light);
    padding: 1rem;
    margin: 0rem 0px 1rem;
}

a {
    color: var(--color_link);
    text-decoration: none;
    font-style: italic;
    font-size: small;
    cursor: pointer;
}

a:visited {
    color: var(--color_link);
}
