.card {
    background: var(--color_card);
    width: 15rem;
    height: 25rem;
    margin: 1rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border-radius: 0.5rem;
    transition: 0.3s;
    font-size: small;
}

.card:hover {
    background-color: var(--color_background_light);
    /* right down diffusion radius */
    box-shadow: 0 0.5rem 1rem -0.1rem var(--color_shadow);
}

.card img {
    width: 90%;
    margin: 5%;
}

.card h3 {
    margin: 0px;
}

.card p {
    margin: 0.5rem;
}

.card .links a {
    margin: 0.25rem;
}

.card .tags {
    display: flex;
    justify-content: space-evenly;
    width: 50%;
}

.card.display-none {
    display: none;
}